<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GymManager2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymManager2.UI.styles.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>
<body style="background-color: rgb(244, 246, 249);">

    <div class="container-fluid">
        <div class="row flex-wrap ">

            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-secondary">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100 collapse">

                    <ul class="client-panel nav nav-pills flex-column mb-sm-auto align-items-center align-items-sm-start mb-4" id="menu">

                        <li class="nav-item">
                            <a href="/" class="nav-link align-middle px-0 text-white my-3">
                                <i class="fas fa-solid fa-house"></i><span class="d-none d-sm-inline">Strona Główna</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Client" asp-action="Dashboard" class="nav-link align-middle px-0 text-white">
                                <i class="fas fa-solid fa-earth-americas"></i><span class="d-none d-sm-inline">Pulpit</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Product" asp-action="Products" class="nav-link align-middle px-0 text-white">
                                <i class="fas fa-solid fa-bag-shopping"></i><span class="d-none d-sm-inline">Produkty</span>
                            </a>
                        </li>

                        <li class="nav-item mb-4">
                            <a asp-controller="Client" asp-action="Client" class="nav-link align-middle px-0 text-white">
                                <i class="fas fa-solid fa-user"></i><span class="d-none d-sm-inline">Moje dane</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Client" asp-action="Clients" class="nav-link align-middle px-0 text-white">
                                <i class="fas fa-solid fa-users"></i><span class="d-none d-sm-inline">Użytkownicy</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Role" asp-action="Role" class="nav-link align-middle px-0 text-white">
                                <i class="fas fa-solid fa-unlock-keyhole"></i><span class="d-none d-sm-inline">Role</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="File" asp-action="Files" class="nav-link align-middle px-0 text-white">
                                <i class="fas fa-solid fa-file-lines"></i><span class="d-none d-sm-inline">Pliki</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="Settings" asp-action="Settings" class="nav-link align-middle px-0 text-white">
                                <i class="fas fa-solid fa-screwdriver-wrench"></i><span class="d-none d-sm-inline">Ustawienia</span>
                            </a>
                        </li>


                </div>
            </div>

            <div class="col px-0">
                <div class="px-4 py-1 border-bottom bg-white">
                    <a asp-controller="Home" asp-action="Contact" class="nav-link d-sm-inline-block px-2 text-secondary">
                        Kontakt
                    </a>
                    <form class="form-inline d-sm-inline-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/Identity/Account/Login">
                        <button type="submit" class="nav-link btn btn-link px-2 text-secondary">Wyloguj</button>
                    </form>
                </div>

                <div class="py-2">
                    <div class="container-fluid">
                        <div class="row">
                            <h2>@ViewData["Title"]</h2>
                        </div>
                    </div>
                </div>

                <div class="pb-1">
                    <div class="container-fluid">
                        <div class="row" id="main-body">
                        @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="border-top bg-danger footer text-white">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - GymManager2 - <a asp-area="" asp-controller="Home"
                                                         asp-action="Privacy" class="text-white">Polityka Prywatności</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
