<div class="container">
    <div class="row justify-content-center">
        <div class="col-6  ">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/Images/carousel-ladybird-1.jpg" class="d-block w-100 rounded"
                             alt="biedronka zawieszona pod źdźbłem trawy">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/carousel-ladybird-2.jpg" class="d-block w-100 rounded"
                             alt="biedronka na podłużnym liściu mokrym od rosy">
                    </div>
                    <div class="carousel-item">
                        <img src="~/Images/carousel-ladybird-3.jpg" class="d-block w-100 rounded"
                             alt="dwie biedronki na liściu">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>