@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Resetowanie hasła";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Colorado Beetle</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GymManager.UI.styles.css" asp-append-version="true" />
    <style>
        Html, body {
            height: 100%;
        }
    </style>
</head>

<body class="bg-light">

    <div class="center-div-parent-container">
        <div class="center-div-container">
            <div class="card card-border-top">
                <h3 class="card-header bg-transparent mt-3 pb-3 text-center">@ViewBag.Title</h3>
                <div class="card-body">
                    <p class="card-text text-center">Podaj nowe hasło</p>

                    <form method="post">
                        <input asp-for="Input.Code" type="hidden" />

                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Email" type="email" class="form-control" placeholder="adres e-mail"/>
                        </div>

                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.Password" type="password" class="form-control" placeholder="hasło"/>
                        </div>

                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        <div class="input-group mb-3">
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="powtórz hasło"/>
                        </div>
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Zatwierdź</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>


@section Scripts {
    <partial name="Scripts/_ValidationScriptsPartial" />
}




