@using ColoradoBeetle.Application.Roles.Queries.GetRoles;
@using System.Globalization;
@using ColoradoBeetle.Application.ShoppingLists.Queries.GetShoppingLists;
@model IEnumerable<ShoppingListDto>

@{
    ViewData["Title"] = "Listy zakupów";
    var locale = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

@section Styles {
    <partial name="Styles/_DataTablesStyles" />
}

<partial name="Modals/_ModalConfirm"
         model="@(new ModalParams
{
    Id = "modal-confirm-delete",
    Title = "Potwierdź proszę",
    Description = "Czy na pewno chcesz usunąć wybraną listę?"
})" />



<div class="card card-primary card-border-top">
    
    <div class="card-body privateUser-bg">

        <a href='/ShoppingList/AddShoppingList' class="btn btn-primary mb-3" role="button">
            <i class="fas fa-solid fa-circle-plus"></i>Dodaj nową listę 
        </a>

        
        <table id="shoppingLists" class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th></th>
                    <th>Nazwa listy</th>
                    <th class="desktop"></th>
                </tr>
            </thead>
            <tbody>

                @foreach(var shoppingList in Model) {
                    <tr>
                        <td>
                            @shoppingList.CreatedDate
                        </td>
                        <td>
                            @shoppingList.Name
                        </td>
                        <td>
                            <div class="d-flex flex-row">
                                <div class="m-1">
                                    <a class="btn btn-primary btn-sm" role="button"
                                       href='/Product/GetProductsInList?id=@shoppingList.Id'>
                                        <i class="fas fa-solid fa-square-plus"></i>Produkty
                                    </a>
                                </div>
                                <div class="m-1">
                                    <a class="btn btn-success btn-sm" role="button"
                                       href='/ShoppingList/EditShoppingList?id=@shoppingList.Id'>
                                        <i class="fas fa-solid fa-magnifying-glass"></i>Edytuj
                                    </a>
                                </div>
                                <div class="m-1">
                                    <button class="btn btn-danger btn-sm"
                                            onclick="deleteShoppingList('@shoppingList.Id', this)">
                                        <i class="fas fa-solid fa-trash-can"></i>Usuń
                                    </button>
                                </div>
                            </div>
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



@section Scripts {
    <partial name="Scripts/_DataTablesScripts" />

    <script>

        var selectedRow;
        var selectedShoppingListId = 0;
        var shoppingLists;

        $(document).ready(function () {
            
            shoppingLists = $('#shoppingLists').DataTable({
                paging: true,
                ordering: true,
                info: true,
                responsive: true,
                autoWidth: false,
                lengthChange: true,
                lengthMenu: [25, 50, 75, 100],
                language: {
                    url: `/lib/datatables/lang/${'@locale'}.json`
                },
                order: [[0, "desc"]],
                columnDefs: [
                {
                    targets: [0],
                    visible: false,
                    searchable: false
                }]
            });
        });


        function deleteShoppingList(id, btn) {
            selectedRow = btn.parentNode.parentNode.parentNode.parentNode;
            selectedShoppingListId = id;
            $('#modal-confirm-delete').modal('show');
        }

        $('#modal-confirm-delete-btn').on('click', function (e) {
            $('#modal-confirm-delete').modal('hide');

            $.ajax({
                type: "POST",
                url: "/ShoppingList/DeleteShoppingList",
                data: {
                    id: selectedShoppingListId
                },
                success: function(data) {
                    if(data.success){
                        shoppingLists.rows(selectedRow).remove().draw();
                        toastr.success("Lista została usunięta.");
                    }
                    else{
                        toastr.error('Błąd. Nie udało się usunąć wybranej listy. Spróbuj ponownie lub skontaktuj się z administratorem');
                    }
                },
                error: function (data) {
                    toastr.error('Błąd. Nie udało się usunąć wybranej listy. Spróbuj ponownie lub skontaktuj się z administratorem');
                    
                },
                dataType: "json"
            });
        });
    </script>
}