@inject IConfiguration configuration

@{
    var templateKey = configuration.GetSection("TemplateKey").Value;
    Layout = $"/Views/{templateKey}/Shared/_LayoutMain.cshtml";
    ViewData["Title"] = "Strona Główna";
}

@await Component.InvokeAsync("MainCarousel", "testComp");

<div class="bg-light">
    <div class="container">
        <div class="row">
            <figure class="text-center p-5">
                <blockquote class=blockquote>
                    <p>
                        Szansa jedna na milion udaje się przeciętnie dziewięć razy na dziesięć.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer mt-3 secondary-description">
                    Terry Pratchet <cite title="Source Title">Straż! Straż!</cite>
                </figcaption>
            </figure>
        </div>
    </div>
</div>
